.metaData {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 990px) {
  .metaData {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
  }

  .metaData > div {
    margin-right: 20px;
  }
}
